@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://css.gg/check.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    ::-webkit-scrollbar {
        width: 10px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: inherit; 
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgb(36, 60, 37); 
        border-radius: 10px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #555; 
      }
}
$header-footer: rgb(170, 139, 86);
$nav: rgb(57, 81, 68);
$main:rgb(78, 108, 80);
$todo:rgb(240, 235, 206);
$buttons: rgb(170, 139, 86);
$date-bc: rgb(195, 191, 166);
$toDoBR: 5px;
$todoInput: rgb(255, 250, 220);

@mixin flex-v {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

@mixin hf {
    background-color: $header-footer;
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    height: 100vh;
    width: 100vw;
}
header {
    grid-row: 1 / 2;
    grid-column: 1/ -1;
    @include hf
}
footer {
    grid-row: 10/11;
    grid-column: 1/ -1;
    @include hf
}

nav {
    grid-row: 2 / 10;
    grid-column: 1/3;
    background-color: $nav;
    position: relative;
    @include flex-v;
    .projectTitle {
        height: fit-content;
        width: 100%;
        font-size: 2rem;
        padding: 15px;
        font-weight: 600;
        display: flex;
        justify-content: center;
    }
    .projectList {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        gap: 5px;
        height: 100%;
        width: 100%;
        padding: 15px;
        justify-items: left;
        align-items: top;
        overflow: auto;
        width: 100%;
        .project {
            border: 3px solid grey;
            width: fit-content;
            height: fit-content;
            padding: 0px 10px;
            border-radius: 5px;
            background-color: $todo;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
            .title{
                color: black;
                font-size: 1.5rem;
            }
            .title:hover {
                cursor: pointer;
            }
            .delete {
                height: 1.5rem;
                width: 1.5rem;
                background-color: grey;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .delete:before, .delete:after {
                content: '';
                height: 90%;
                width: 20%;
                background-color: black;
                position: absolute;
            }
            .delete:before {
                transform: rotate(45deg);
            }
            .delete:after {
                transform: rotate(-45deg);
            }
        }
        .project:hover{
            background-color: grey;
        }
    }
    .btns {
        height: 7%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 15px;
        padding-bottom: 5px;
        .btn {
            height: 90%;
            width: 45%;
            border-radius: 5px;
            border: none;
            background-color: $buttons;
            transition: 0.2s;
            font-weight: 600;
        }
        .btn:hover {
            background-color: rgb(130, 90, 21);
        }
        .btn:active {
            scale: 0.95;
        }
        .delete {
            left: 5px;
            color: rgb(128, 31, 31);
        }
    }
}

main {
    grid-column: 3 / -1;
    grid-row: 2/10;
    background-color: $main;
    position: relative;
    @include flex-v;
    .toDoListTitle {
        width: 100%;
        height: fit-content;
        text-align: center;
        font-size: 3rem;
        margin: 20px;
    }
    .addToDoBtn {
      display: flex;  
      align-items: center;
      gap: 5px;
      color: black;
      padding: 0px 10px;
    }
    .toDoList {
        width: 100%;
        height: 100%;
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: min-content;
        gap: 5px;
        justify-items: center;
        overflow-y: auto;
        .addToDo {
            height: 1.7rem;
            width: 60%;
            display: flex;
            background-color: $todo;
            border-radius: $toDoBR;
            align-items: center;
            .addToDoBtn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 1.7rem;
                height: 1.7rem;
                margin-left: 5px;
                position: relative;
            }
            .addToDoBtn:before, .addToDoBtn:after {
                content: '';
                height: 60%;
                width: 8%;
                background-color: black;
                position: absolute;
            }
            .addToDoBtn:before {
                transform: rotate(90deg);
            }
            .addToDoBtnTitle {
                color: black;
                display: flex;
                align-items: center;
            }
        }
        .addToDo:hover {
            background-color: rgb(167, 163, 143);
            cursor: pointer;
        }
        .toDoInputField {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 1.7rem;
            gap: 15px;
            background-color: $todo;
            border-radius: $toDoBR;
            width: 60%;
            padding: 0px 10px;
            display: none;
            #toDoInput {
                border: 1px solid black;
                background-color: inherit;
                border-radius: $toDoBR;
                height: 90%;
                color: black;
                padding: 0px 20px;
            }
            .toDoInputFieldRight {
                display: flex;
                gap: 5px;
                align-items: center;
                #toDoInputDate{
                    color: black;
                    border: none;
                    padding: 0px 15px;
                    background-color: $date-bc;
                    border-radius: 5px;
                }
               
                .toDoInputBtns {
                    height: 1.5rem;
                    width: 1.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    transition: 0.1s;
                    border: none;
                }
                .toDoInputBtns:hover {
                    scale: 1.1
                }
                .toDoInputBtns:active {
                    scale: 0.95
                }
                #cancelToDoInput {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: rgb(178, 86, 86);
                }
                #cancelToDoInput:before, #cancelToDoInput:after {
                    content: '';
                    height: 70%;
                    width: 8%;
                    background-color: white;
                    position: absolute;
                }
                #cancelToDoInput:before {
                    transform: rotate(45deg);
                }
                #cancelToDoInput:after {
                    transform: rotate(-45deg);
                }
                #submitToDoInput {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 15px;
                    background-color: green;
                }
                #submitToDoInput:after {
                    content: "";
                    position: absolute;
                    width: 20%;
                    height: 50%;
                    border-width: 0 2px 2px 0;
                    border-style: solid;
                    transform: rotate(45deg)
                }
            }
            
        }
        .toDo {
            background-color: rgb(255, 169, 169);
            border: none;
            border-radius: $toDoBR;
            height: 1.7rem;
            width: 60%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0px 10px;
            .toDoTitleInput {
                border: 1px solid black;
                background-color: inherit;
                border-radius: $toDoBR;
                height: 90%;
                color: black;
                padding: 0px 20px;  
            }
            .toDoTitleInput:focus {
                outline: 1px solid black;
            }
            .toDoTitle {
                color: black;
                font-size: 1.5rem;
                width: 50%;
                height: 1.7rem;
                display: flex;
                align-items: center;
                overflow: hidden;
                overflow: auto;
                cursor: pointer;
                background-color: inherit;
                border: none;
            }
            
            .toDoTitle::-webkit-scrollbar {
                display: none;
              }
            .markDone {
                color: black;
                padding: 0px 5px;
                border-radius: 5px;
                border: none;
                background-color: inherit;
            }
            .markDone:hover {
                cursor: pointer;
                background-color: lightgrey;
            }
            
            .toDoRightSide {
                display: flex;
                align-items: center;
                gap: 25px
                ;
                #deleteToDoBtn {
                    height: 1.3rem;
                    width: 1.3rem;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                #deleteToDoBtn:before, #deleteToDoBtn:after {
                    content: '';
                    height: 90%;
                    width: 10%;
                    background-color: black;
                    position: absolute;
                }
                #deleteToDoBtn:before {
                    transform: rotate(45deg);
                }
                #deleteToDoBtn:after {
                    transform: rotate(-45deg);
                }
                #deleteToDoBtn:hover {
                    background-color: lightgrey;
                }
                #date {
                    color: black;
                    border: none;
                    padding: 0px 15px;
                    background-color: $date-bc;
                    border-radius: 5px;
                }
                #date:focus {
                    outline: none
                }
            }
            
        }
    }

    .titleBtns {
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 2rem;
        margin-left: 20px;
        display: none;
        justify-content: center;
        align-items: center;
        gap: 5px;
        .titleInputBtns{
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;
            transition: 0.1s;
            border: none;
        }
        .titleInputBtns:hover {
            scale: 1.1
        }
        .titleInputBtns:active {
            scale: 0.9
        }
        #cancelTitleInput {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(178, 86, 86);
        }
        #cancelTitleInput:before, #cancelTitleInput:after {
            content: '';
            height: 70%;
            width: 8%;
            background-color: white;
            position: absolute;
        }
        #cancelTitleInput:before {
            transform: rotate(45deg);
        }
        #cancelTitleInput:after {
            transform: rotate(-45deg);
        }
        #submitTitleInput {
            background-color: rgb(56, 137, 56);
        }
        #projectTitle {
            height: 2rem;
            border: none;
            border-radius: 15px;
            padding: 0px 20px;
            color: black;
            width: fit-content;
        }
    }
    #projectTitle:focus {
        outline: none;
    }
    
    
}

